---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: name-tests-test
        args:
          - "--django"
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.4
    hooks:
      - id: isort
        args:
          - "--profile=black"
        exclude: ^.devcontainer/
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
        language_version: python3
        exclude: ^.devcontainer/
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.4.0
    hooks:
      - id: add-trailing-comma
        args:
          - "--py36-plus"
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        exclude: ^.devcontainer/
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args:
          - "--py39-plus"
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.29.0
    hooks:
      - id: yamllint
  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        args: [--fail-under=90, --verbose]
        exclude: (^.devcontainer/|^netbox_acls/migrations/)
  #- repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
  #  rev: v1.1.2
  #  hooks:
  #    - id: htmlhint
  #      args: [--config, .htmlhintrc]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.33.0
    hooks:
      - id: markdownlint
  #- repo: local
  #  hooks:
  #    - id: wily
  #      name: wily
  #      entry: wily diff
  #      verbose: true
  #      language: python
  #      additional_dependencies: [wily]
