{% if access_lists %}

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default Action</th>
        <th>Rule Count</th>
    </tr>
    {% for access_list in access_lists %}
        <tr>
            <td>{{ access_list|linkify }}</td>
            <td>{{ access_list.type|title }}</td>
            <td>{{ access_list.default_action|title }}</td>
            <td>{{ access_list.rules.count }}</td>
        </tr>
    {% endfor %}
</table>
{% else %}
<div class="text-muted">
    None found
</div>
{% endif %}
